[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"

[dev-packages]
pycodestyle = "*"
mypy = "*"
rstcheck = "*"
imgwriter = {path = "./../imgwriter"}

[requires]
python_version = "3.9"
