[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "*"

[dev-packages]
pycodestyle = "*"
mypy = "*"
rstcheck = "*"
imgwriter = {path = "./../imgwriter"}
pytest = "*"
isort = "*"
tox = "*"
sphinx = "*"
furo = "*"
build = "*"
twine = "*"
imgblender = {file = ".", editable = true}

[requires]
python_version = "3.9"
